Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__:
- List popular languages for Data Science
- List Data Science Tools
- List libraries used by Data Scientist
- A few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Scipy
3. Seaborn

| Data Science Tools | 
|:------------------:|
|  Pandas            |  
|  Seaborn           |  
|  Skicit-learn      |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [19]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [21]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Tomislav Lovrinov